            .mau-cam{
                color: orange;
            }
            .mau-do{
                color: red;
            }
            .canh-giua{
                text-align:center;
            }
            .co-chu{
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                font-size: 100px;
            }